<!-- This is the header file that consists all the HTML elements for the head-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <title>Say IT Demo</title>
  </head>
  <body>
    <h6 class="display-6 text-center"> Say IT - A Demo </h6>